<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <!--<link rel="stylesheet" href="../static/font-awesome/css/all.min.css">-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|PT+Sans" rel="stylesheet">
  <script type="text/javascript" src="../static/js/boletos.js"></script>
</head>
<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <header class="site-header">
    <div class="hero">
      <div class="contenido-header">
        <nav class="redes-sociales">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-pinterest-p"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </nav>
        <div class="informacion-evento">
          <p class="fecha"><i class="fas fa-calendar-alt"></i>10-12 Nov</p>
          <p class="ciudad"><i class="fas fa-map-marker-alt"></i>Buenos Aires, AR</p>
          <h1 class="nombre-sitio">ALBICON</h1>
          <p class="slogan">La mejor conferencia de <span>Albi</span> (by Albi)</p>
        </div>
        <!--.informacion-evento-->

      </div>
    </div>
    <!--.hero-->
  </header>

  <div class="barra">
    <div class="contenedor clearfix">
      <div class="logo" id="logotipo">
        <a href="http://127.0.0.1:5000/">
        <i class="fas fa-home"></i>
        </a>
      </div>

      <div class="menu-movil">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <nav class="navegacion-principal">
        <a href="/registro">Reservaciones</a>
      </nav>
    </div>
    <!--.contenedor-->
  </div>
  <!--.barra-->

    <section class="seccion contenedor">
    <h2>LogIn Admin</h2>
    <form id="login" class="login" action="/adminCheck" method="post">
        <div id="datos_admin" class="registro admin caja clearfix">
            <div class="campoAdmin">
                <label for="nombre_admin">Usuario:</label>
                <input type="text" name="nombre_admin" id="nombre_admin" placeholder="Tu nombre de usuario...">
            </div>
            <div class="campoAdmin">
                <label for="contraseña">Contraseña:</label>
                <input type="password" name="contraseña" id="contraseña" placeholder="">
            </div>
        </div> <!--.datos_usuarios-->
        <div>
            <input id="btnRegistro" type="submit" class="button" value="Entrar">
        </div>

    </form>
    </section>

    <footer class="site-footer">
    <div class="contenedor clearfix">
      <div class="footer-informacion">
        <h3>Sobre <span>ALBICON</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nulla enim, rutrum non sagittis sed, lobortis
          vel eros. Phasellus a mollis tortor, a aliquet odio. Ut eu justo nec ligula scelerisque interdum eget a nunc. Donec
          vulputate elementum viverra.
        </p>
      </div> <!--.informacion-footer-->
      <div class="ultimos-tweets">
        <h3>Ultimos <span>tweets</span></h3>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nulla enim, rutrum non sagittis sed.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nulla enim, rutrum non sagittis sed.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nulla enim, rutrum non sagittis sed.</li>
        </ul>
      </div><!--.ultimos-tweets-->
      <div class="menu">
        <h3>Redes <span>sociales</span></h3>
        <nav class="redes-sociales">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-pinterest-p"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </nav>
      </div> <!--.redes-sociales-->
    </div> <!--.contenedor-->

  <p class="copyright">Todos los derechos reservados by Albi &copy; </p>

  </footer>

  <!-- Add your site or application content here -->

  <script src="static/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="/static/js/plugins.js"></script>
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
  <script src="/static/js/logotipoDir.js"></script>
  <script src="/static/js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>